
        {% extends 'base.html' %}

        {% block content %}
                  <div class="row my-4">
                    <h1>Welcome to LilyGo Web UI</h1>
                  </div>
                
                  <div class="row">
                      <div class="col">
                        <a href="{{ url_for('connect') }}">
                            <button type="button" class="btn btn-dark">
                                Retrieve data from your watch
                            </button>
                        </a>
                      </div>
                      
                      <div class="col">
                        <a href="{{ url_for('last_session') }}">
                            <button type="button" class="btn btn-dark">
                                See your last session statistics
                            </button>
                        </a>
                      </div>
                      
                      <div class="col">
                        <a href="{{ url_for('all_sessions') }}">
                            <button type="button" class="btn btn-dark">
                                See all sessions
                            </button>
                        </a>
                      </div>
                    
                  </div>
              </div>
        {% endblock %}
